:root {
  --font-jmono: 'Jetbrains Mono', monospace;
  --font-inter: 'Inter';
  --primary-bg-color: #1e1e24;
  --text-color: #ffffff;
  --highlight-color: #f7cb15;
  --button-bg-color: #1e1e24;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #ffffff;
  --button-hover-text-color: #000;
  --box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.yellow {
  background: var(--highlight-color);
}

.inter {
  font-family: var(--font-inter);
}

.text-gray {
  color: #888888;
}

body,
h2,
h3,
h4,
h5 {
  font-family: var(--font-jmono);
}

body {
  background-color: var(--primary-bg-color);
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  color: var(--text-color);
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--highlight-color);
  margin-top: 600px;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  color: var(--highlight-color);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h5 {
  font-weight: lighter;
  font-size: 14px;
  color: var(--highlight-color);
}

section {
  position: relative;
  padding: 100px 10vw;
}

.neticents {
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 90px;
  margin-top: -200;
  color: #212121;
}

.smaller-label {
  font-size: 17px;
}

.btn-custom {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
  transform: scale(1.05);
}

.btn-custom:focus {
  outline: none;
}

.btn-learn-more {
  background-color: transparent;
  border: 1.5px solid #212121;
  color: #212121;
}

.btn-learn-more:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.navbar {
  background: var(--primary-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}

.navbar a.nav-link {
  font-family: var(--font-inter);
  font-size: 12px;
  margin: 0 2px !important;
  padding: 3px 0px; /* Adjusted padding */
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a.nav-link:hover {
  color: var(--highlight-color) !important;
}

.navbar-toggler-icon {
  background-color: black;
}

.nav-item {
  padding-right: 0px;
}

footer {
  background: var(--highlight-color);
  color: var(--text-color);
  text-align: center;
  padding: 40px 0;
}

.tableAmount {
  text-align: right;
}

.tableText {
  font-size: 16px;
}
